body {
}

#content {
  font-family: verdana, sans-serif;
}

.post p, li, span, a {
  font-family: "Georgia";
  color: #555;
  font-size: 15pt;
}

#content h1, h2, h3 {
  font-family: "Palatino";
  color: #666633;
  clear: both;
}

.post h2, h3{
  margin: 30px 0 -8px 0;
}

a {
  color: #297ACC;
  text-decoration: none;
}

a:hover {
  color: #669999;
}


#container {
  width: 960px;
  margin-left: 200px;
}

#footer {
  margin-bottom: 5px;
  color: #999;
  font-size: 12pt;
  font-style: italic;
  float: right;
}

#nav {
  float: right;
  margin-bottom: 20px;
}

#nav li {
  display: inline;
}

#nav a {
  font-family: verdana, sans-serif;
  font-size: 16pt;
  display: block;
  float: left;
  height: 40px;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  color: #050;
}

#nav a:hover {
  background-color: #eee;
  color: black;
}

.post-item {
  margin-bottom: 20px;
  clear: both;
}

.post-date {
  color: #aaa;
  font-size: 12pt;
}

.post-title-link {
  font-size: 16pt;
  margin-right: 20px;
}

.post h1 {
  margin-bottom:5px;
}

.post-meta {
  margin-bottom:20px;
}

.post-end {
  border:1px solid grey;
  margin-top:10px;
  margin-bottom:10px;
}
