<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width" />
    <title>{% block title %}Home{% endblock %}|Ashish Dubey's Blog</title>
    <link rel="stylesheet" href="{{ site_prefix }}/static/style.css" type="text/css"/>
     {% block head %}{% endblock %}
  </head>
  <body>
    <div id="container">
      <div id="header">
        <div id="branding">
          <a href="{{ site_prefix }}">Ashish Dubey's Blog</a>
        </div>
        <div id="nav">
          <ul>
            <li><a href="{{ site_prefix }}">Home</a></li>
            <li><a href="{{ site_prefix }}/posts.html">Archive</a></li>
            <li><a href="{{ site_prefix }}/about.html">About</a></li>
          </ul>
        </div>
        <div style="clear: both"></div>
      </div>
      <div id="content">{% block content %}{% endblock %}</div>
      <div id="footer">
				Copyright &copy 2012 Ashish Dubey
      </div>
    </div>
  </body>
</html>
