<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/> 
    <title>{% block title %}Home{% end block %}|Ashish Dubey's Blog</title>
    <link rel="stylesheet" href="/static/style.css" type="text/css"/>
     {% block head %}{% end %}
  </head>
  <body>
    <div id="container">
      <div id="header">
        <div id="nav">
          <a href="/home/">Home</a>
          <a href="/archive/">Archive</a>
          <a href="/about/">About</a>
        </div>
      </div>
      <div id="content">{% block content %}{% block end %}</div>
      <div id="footer">
      Powered by Python.
      </div>
    </div>   
  </body>
</html>
