<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/> 
    <title>{% block title %}Home{% endblock %}|Ashish Dubey's Blog</title>
    <link rel="stylesheet" href="{{ site_prefix }}/static/style.css" type="text/css"/>
     {% block head %}{% endblock %}
  </head>
  <body>
    <div id="container">
      <div id="header">
        <div id="nav">
          <ul>
            <li><a href="{{ site_prefix }}/home.html">Home</a></li>
            <li><a href="{{ site_prefix }}/archive/">Archive</a></li>
            <li><a href="{{ site_prefix }}/about/">About</a></li>
          </ul>
        </div>
      </div>
      <div id="content">{% block content %}{% endblock %}</div>
      <div id="footer">
      Powered by Python.
      </div>
    </div>   
  </body>
</html>
